/* element styling */
.label {
  background-color: #eeeeee;
  border: 2px solid #666666;
  width: 600px;
}

p {
  font-family: "RobotoDraft","Roboto",sans-serif;

  padding: 0px;
}

p.bold {
  font-weight: bold;
}

p.italic {
  font-style: italic;
}

h1 {
  font-size: 3em;
  padding: 20px 10px;
}
.container {
  width: 100%;
}
