/* element styling */
body {
  font-family: "RobotoDraft","Roboto",sans-serif;
  padding: 0px;
}

p.bold {
  font-weight: bold;
}

p.italic {
  font-style: italic;
}

h1 {
  font-size: 3em;
  padding: 20px 10px;
  color: #00bcd4;
}

h2 {
  font-size: 3em;
  padding: 20px 10px;
  color: #00bcd4;
}

h3 {
  font-size: 2em;
  padding: 20px 10px;
  color: #00bcd4;
}


hr {
  width:100%;
  height:1px;
  background: #00bcd4;
}


a {
  font-family: "RobotoDraft","Roboto",sans-serif;
  color: #00bcd4;
}

.dropdown-margin-top {
  margin-top: -8px;
}

.dropdown-margin-top:first-child menuItems {
  color: #00bcd4;
}

.a-margin-top{
  margin-top: 10px;
}

.label {
  background-color: #eeeeee;
  border: 2px solid #666666;
  width: 600px;
}

.container {
  width: 100%;
}
