/* element styling */
body {
  font-family: "RobotoDraft","Roboto",sans-serif;
  padding: 0px;
}

p.bold {
  font-weight: bold;
}

p.italic {
  font-style: italic;
}

h1 {
  font-size: 4em;
  font-weight: 200;
  padding: 0px 0px;
  color: #00bcd4;
}

h2 {
  font-size: 3em;
  font-weight: 200;
  padding: 0px 0px;
  color: #00bcd4;
}

h3 {
  font-size: 1.5em;
  font-weight: 200;
  padding: 0px 0px;
  color: #00bcd4;
}

hr {
  width:100%;
  height:1px;
  background: #00bcd4;
}

a {
  font-family: "RobotoDraft","Roboto",sans-serif;
  color: #00bcd4;
}

/*.dropdown-first-disabled:first-child menuItems {
  color: #00bcd4;
}
*/

.dropdown-margin-top {
  margin-top: -8px;
  color:#aabbcc;
}

.progress-margin-top{
  margin-top: 9px;
}

.a-margin-top{
  margin-top: 10px;
}

.header2-margin-top {
  margin-top: -42px;
}

.label {
  background-color: #eeeeee;
  border: 2px solid #666666;
  width: 600px;
}

/*component H3Input*/
.h3-padding {
  padding: 0px;
}

/*component H3Input*/
.h3-line-width div div {
  width: 800px !important;;
}

.container {
  width: 100%;
}

.dv-star-rating {

}
