.push-top-nano {
  margin-top: 5px;
}
.push-top-mini {
  margin-top: 10px;
}

.push-top-tiny {
  margin-top: 15px;
}

.push-top-small {
  margin-top: 20px;
}

.push-top-medium {
  margin-top: 30px;
}

.push-top-large {
  margin-top: 50px;
}


.push-bottom-small {
  margin-bottom: 20px;
}
.push-bottom-medium {
  margin-bottom: 30px;
}
.push-bottom-large {
  margin-bottom: 50px;
}

.push-left-small {
  margin-left: 20px;
}
.push-left-mini {
  margin-left: 10px;
}

.align-right {
  text-align: right;
}

.push-center {
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

.pull-top-mini {
  margin-top: -5px;
}
.pull-top-small {
  margin-top: -15px;
}
.pull-top-medium {
  margin-top: -25px;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.disabled {
  color: var(--colorDisabled);
}

.flex {
  display: flex;
}

.uppercase {
  text-transform: uppercase;
}

.warning {
  font-weight: bold;
  color: var(--colorWarning) !important;
}
.warning-background {
  background-color: var(--colorWarningBack) !important;
}

